$primary-color: #2196f3;
$secondary-color: #673ab7;
$dark-background: #212121;
$light-background: #ffffff;
$text-color: #ffffff;

.navbar {
  background-color: $light-background;
  color: $text-color;
}

.nav-link {
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

.p-button {
  background-color: $primary-color;
  color: $text-color;
}

.theme-dark {
  .navbar {
    background-color: $dark-background;
    color: #ffffff;
  }

  .nav-link {
    color: #ffffff;

    &:hover {
      color: $secondary-color;
    }
  }

  .p-button {
    background-color: $secondary-color;
    color: #ffffff;
  }
}
