// Dark theme variables
$primary-color: #673ab7;
$secondary-color: #333333;
$background-color: #212121;
$text-color: #ffffff;

// Export theme variables
:export {
  theme: 'dark';
  primaryColor: $primary-color;
  secondary-color: $secondary-color;
  background-color: $background-color;
  textColor: $text-color;
}