// Light theme variables
$primary-color: #2196f3;
$secondary-color: #f7f7f7;
$background-color: #ffffff;
$text-color: #333333;

// Export theme variables
:export {
  theme: 'light';
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  background-color: $background-color;
  textColor: $text-color;
}