// Import theme files
@import 'shared/styles/light-theme.scss';
@import 'shared/styles/dark-theme.scss';

// Define a mixin for light theme
@mixin light-theme {
  $primary-color: #2196f3;
  $secondary-color: #f7f7f7;
  $background-color: #ffffff;
  $text-color: #333333;
  body {
    background-color: $background-color;
    color: $text-color;
  }
  .p-button {
    background-color: $primary-color;
    color: $text-color;
  }
  // Add more styles for each theme variable
}

// Define a mixin for dark theme
@mixin dark-theme {
  $primary-color: #673ab7;
  $secondary-color: #333333;
  $background-color: #212121;
  $text-color: #ffffff;
  body {
    background-color: $background-color;
    color: $text-color;
  }
  .p-button {
    background-color: $primary-color;
    color: $text-color;
  }
  // Add more styles for each theme variable
}

// Use the mixin to switch themes
$theme: 'light'; // Set the initial theme to light

@if $theme == 'light' {
  @include light-theme;
} @else if $theme == 'dark' {
  @include dark-theme;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
